/*-----------------------------
Variable Definition
-----------------------------*/

$background-base: #30323b;
$background-primary: #444754;

$grey: #636363;
$grey-light: #F9F9F9;
$grey-heavy: #e0e0e0;

$white: #FFFFFF;
$black: #000000;

$blue: #4BA9DF;
